* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body {

    background:#080808;
    color:white;

}


nav {

    display:flex;
    justify-content:space-between;
    padding:25px 60px;
    background:#111;

}


nav a {

    color:white;
    text-decoration:none;
    margin-left:25px;

}


.hero {

    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background:
    linear-gradient(
    rgba(0,0,0,.7),
    rgba(0,0,0,.9)
    ),
    url("https://images.unsplash.com/photo-1511512578047-dfb367046420");

    background-size:cover;

}



.hero h1 {

    font-size:70px;
    letter-spacing:5px;

}


.hero p {

    font-size:25px;
    margin:20px;

}



.buttons a {

    display:inline-block;
    padding:15px 35px;
    margin:10px;
    border-radius:8px;
    text-decoration:none;
    color:white;

}


.discord {

    background:#5865F2;

}


.connect {

    background:#e63946;

}



section {

    padding:60px;
    text-align:center;

}



.cards {

    display:flex;
    justify-content:center;
    gap:30px;

}


.cards div {

    background:#151515;
    padding:30px;
    border-radius:10px;
    width:250px;

}


li {

    list-style:none;
    margin:15px;

}


footer {

    padding:20px;
    text-align:center;
    background:#111;

}
.logo {
    display:flex;
    align-items:center;
    gap:15px;
}

.u-logo {
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    font-weight:bold;

    background:linear-gradient(135deg,#8a2be2,#4b0082);
    box-shadow:0 0 20px #8a2be2;
}


body {
    background:#08000f;
}


nav {
    background:#120020;
    border-bottom:2px solid #8a2be2;
}


nav a:hover {
    color:#b76cff;
}


.discord {
    background:#8a2be2;
}


.connect {
    background:#5b00b5;
}


.cards div {
    background:#16002b;
    border:1px solid #8a2be2;
}