<header class="navbar">

    <div class="nav-container">

        <a href="../index.html" class="brand" id="brandLink">
            <img src="../assets/images/logo.png" alt="Union Roleplay" id="brandLogo">
            <span>Union Roleplay</span>
        </a>

        <nav class="nav-links">

            <a href="../index.html">Home</a>

            <a href="../pages/applications.html">Applications</a>

            <a href="../pages/rules.html">Rules</a>

            <a href="https://discord.gg/qyUKU9HtyN" target="_blank">
                Discord
            </a>

        </nav>

        <a href="#" class="discord-login" id="discordLogin">
            Login with Discord
        </a>

    </div>

</header>